@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100;400&family=Viga&display=swap');

body {
  background-color: #1A1A1A !important;
  font-family: 'Vazirmatn';
}

.container-main {
  max-width: 1062px !important;
  margin: 0 auto;
}

.lh-140 {
  line-height: 140% !important;
}

.lh-180 {
  line-height: 180% !important;
}

.lh-200 {
  line-height: 200% !important;
}

.lh-1 {
  line-height: 1;
}

.ls-normal {
  letter-spacing: normal !important;
}

.fz-10 {
  font-size: 10px !important;
}

.fz-12 {
  font-size: 12px !important;
  @media (max-width: 1600px) {
    font-size: 11px !important;
  }
}

.fz-13 {
  font-size: 13px !important;
  @media (max-width: 1600px) {
    font-size: 12px !important;
  }
}

.fz-14 {
  font-size: 14px !important;
  @media (max-width: 1600px) {
    font-size: 13px !important;
  }
}

.fz-15 {
  font-size: 15px !important;
  @media (max-width: 1377px) {
    font-size: 14px !important;
  }
}

.fz-16 {
  font-size: 16px !important;
  @media (max-width: 1377px) {
    font-size: 14px !important;
  }
}

.fz-18 {
  font-size: 18px !important;
  @media (max-width: 1377px) {
    font-size: 16px !important;
  }
  @media (max-width: 600px) {
    font-size: 14px !important;
  }
}

.fz-20 {
  font-size: 20px !important;
  @media (max-width: 1377px) {
    font-size: 16px !important;
  }
}

.fz-24 {
  font-size: 24px !important;
  @media (max-width: 1377px) {
    font-size: 20px !important;
  }
  @media (max-width: 600px) {
    font-size: 16px !important;
  }
}

.fz-28 {
  font-size: 28px !important;
  @media (max-width: 1377px) {
    font-size: 20px !important;
  }
  @media (max-width: 600px) {
    font-size: 16px !important;
  }
}

.fz-32 {
  font-size: 32px !important;
  @media (max-width: 1377px) {
    font-size: 24px !important;
  }
  @media (max-width: 600px) {
    font-size: 20px !important;
  }
}

.fz-36 {
  font-size: 36px !important;
  font-weight: 500;
  @media (max-width: 1377px) {
    font-size: 28px !important;
  }
  @media (max-width: 600px) {
    font-size: 20px !important;
  }
}

.fz-40 {
  font-size: 40px !important;
  @media (max-width: 1377px) {
    font-size: 28px !important;
  }
  @media (max-width: 600px) {
    font-size: 20px !important;
  }
}

.fz-48 {
  font-size: 48px !important;
  font-weight: 600;
  @media (max-width: 600px) {
    font-size: 24px !important;
  }
}

.fz-16m {
  font-size: 16px !important;
}

.fz-18m {
  font-size: 18px;
}

.fz-24m {
  font-size: 24px;
}

.fz-32m {
  font-size: 32px;
}

.subtitle {
  font-family: 'Viga';
}

.neon-border {
  box-shadow: 0 0 2px #fff,
  0 0 5px #fff,
  0 0 5px #6D30E9,
  0 0 5px #6D30E9,
  0 0 5px #6D30E9,
  inset 0 0 10px #6D30E9;
}

.link {
  text-decoration: none !important;
}